<!DOCTYPE html>
<html>
<head>
  <title>TwitterClone</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar-fixed">

  <nav>
    <div class="nav-wrapper white">
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li class="brand"><%= image_tag "twitter.png", height:"30",
        width:"30"%></li>
        <li><a href="sass.html" class="left blue-grey-text text-darken-3">&nbsp;&nbsp;&nbsp;&nbsp;<span class="material-icons">store</span>Home</a></li>
        <li><a href="badges.html" class="left blue-grey-text text-darken-3"><span class="material-icons">dashboard</span>Moments</a></li>
        <li><a href="collapsible.html" class="left blue-grey-text text-darken-3"><span class="material-icons">add_alert</span>Notifications</a></li>
        <li><a href="badges.html" class="left blue-grey-text text-darken-3"><span class="material-icons">textsms</span>Messages</a></li>

      </ul>
    <ul>
      <li><a href="badges.html" class="left blue-grey-text text-darken-3">&nbsp;&nbsp;<span class="material-icons">markunread_mailbox</span>Tweet</a></li>
    </ul>
  </div>
  </nav>
</div>

<%= yield %>

</body>
</html>
